*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #121212;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background: #1e1e1e;
    padding: 25px;
    border-radius: 20px;
    box-sizing: 0 0 25px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
#display{
    height: 60px;
    width: 100%;
    font-size: 2rem;
    text-align: right;
    padding: 10px 15px;
    border:none;
    border-radius: 10px;
    background-color: #000000;
    color:#00fff7;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:12px;
}
button{
    padding: 20px;
    font-size: 1.2rem;
    border:none;
    border-radius: 12px;
    background: #292929;
    color:#ffffff;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background: #00fff7;
    color:#000;
    transform: scale(1.05);
}
.equal{
    grid-column: span 2;
    background: #00fff7;
    color:#000;
    font-weight: bold;
}
.equal:hover{
    background: #00e6d2;
    
}